<h1>Listing Modules</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>
  <% for mod in @mods %>
    <tr>
      <td><%= link_to mod.title, mod %></td>
      <td><%= mod.description %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Mod", new_mod_path %></p>
