body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

#fb_box {
  background:#999;
  background-image:url(/images/canvas.jpeg);
  background-repeat: no-repeat;
  width:760px;
  height:850px;
}

#stat_bar {
  background-image:url(/images/avatar_bar.png);
  background-repeat: no-repeat;
  height:79px;
  width:283px;
  color:white;
  position:absolute;
  margin:20px;
}

#room {
  height:570px;
  background:rgba(0,0,0,0.3);
  color:#eee;
  padding:10px;
}

#room_description {
  background:rgba(0,0,0,0.1);
  color:#eee;
  height:190px;
  font:1.3em ubuntu;
  padding:10px;
  margin:0 5px;
}

#character_card {
  width:200px;  
  height:300px;
  border:solid 2px;
  position:relative;
  top:100px;
  left:50px;
  padding:10px;
}

#monster_card {
  width:200px;  
  height:300px;
  border:solid 2px;
  position:relative;
  top:-230px;
  left:460px;
  padding:10px;
}

#attack_button {
  width:100px;
  height:40px;
  position:absolute;
  top:400px;
  left:430px;
  border:solid 2px black;
  background-color:maroon;
  text-align:center;
  padding-top:10px;
}

#attack_button a {
  text-decoration:none;
  color:#fff;
  font-size:1.5em;
}

#desc_parchment {
  width:261px;
  height:211px;
  background-image:url(/images/des-parchment-250x300.gif);
  background-repeat: no-repeat;
  padding:10px 30px;
  position:absolute;
  top:400px;
  right:370px;
}

#desc_parchment p {
  width:240px;
  height:200px;
}  

#quickbar {
  background:#333;
  height:60px;
  color:white;
}

#north_arrow, #south_arrow, #east_arrow, #west_arrow{
  width:64px;
  height:64px;
  position:relative;
}

#north_arrow{
  top:100px;
  left:335px;
}

#south_arrow{
  top:400px;
  left:335px;
}

#east_arrow{
  top:140px;
  left:535px;
}

#west_arrow{
  top:80px;
  left:135px;
}


.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 760px;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}




